<footer class="w-full p-2 bg-blue-900">
  <div class="flex flex-col md:flex-row flex-wrap items-center pl-10 justify-center text-center gap-y-4 gap-x-6 md:justify-between">
    <img src="hive.jpeg" class="w-24 h-24 rounded-full shadow-lg border-4 bg-white" alt="Hivemind Logo" />
    <ul class="flex flex-wrap items-center gap-y-2 gap-x-4">
      <li>
        <a href="https://informatica.dieti.unina.it/index.php/it/laurea-triennale/insegnamenti?id=40:tecnologie-web1&catid=47" target="_blank"
          class="block font-sans text-sm antialiased font-normal leading-relaxed transition-colors text-white hover:text-blue-300 focus:text-gray-300">
          Project for the Web Technologies Course
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/cahuaee/?hl=it" target="_blank"
          class="block font-sans text-sm antialiased font-normal leading-relaxed transition-colors text-white hover:text-blue-300 focus:text-gray-300">
          Contact me (Emilia Napolano) 
        </a>
      </li>
      <li>
        <a href="https://github.com/Cahuaee01/HiveMind" target="_blank"
          class="block font-sans text-sm antialiased font-normal leading-relaxed transition-colors text-white hover:text-blue-300 focus:text-gray-300">
          Github repository
        </a>
      </li>
    </ul>
  </div>
  <span class="block my-4 border-t border-white"></span>
  <p class="block font-sans text-sm antialiased font-normal leading-relaxed text-center text-white">
    © 2024 Hivemind. All rights reserved. All images have been created either by me or by AI and are not real.
  </p>
</footer>
