<li class="flex items-center flex-wrap content-between w-full max-w-3xl mx-auto px-10 py-5 border-b border-gray-200 rounded-t-lg mb-5 card">
  <div class="overflow-x-auto w-full">
    <table class="min-w-full divide-y divide-gray-200 ">
      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap" colspan="2">
            <div routerLink="/idea-details/${{ideaItem.id}}" class="flex items-center justify-between font-bold text-teal-600">&#64;{{ideaItem.UserUserName}}
              <img src="idea.png" class="h-10 mt-2 ml-10">
            </div>
          </td>
        </tr>
        <tr routerLink="/idea-details/${{ideaItem.id}}">
          <td class="px-6 py-4 whitespace-nowrap" colspan="2">
            <markdown [data]="ideaItem.title" class="markdown-title  font-medium text-gray-900"></markdown>
          </td>
        </tr>
        <tr routerLink="/idea-details/${{ideaItem.id}}">
          <td class="px-6 py-4 whitespace-nowrap" colspan="2">
            <markdown [data]="ideaItem.description" class="markdown-description  text-gray-500"></markdown>
          </td>
        </tr>
        <tr class="flex space-x-2 justify-center">
          <td class="px-6 py-6 whitespace-nowrap">
            <button (click)="handleUpvote()" type="button" class="flex items-center p-2 rounded-lg">
              <img src="upvote.png" alt="Upvote Image" class="w-9 h-13 hover:animate-bounce">
              <span class="ml-2">{{ideaItem.upvotes}}</span>
            </button>
          </td>
          <td class="px-6 py-6 whitespace-nowrap text-right">
            <button (click)="handleDownvote()" type="button" class="flex items-center p-2 rounded-lg">
              <img src="downvote.png" alt="Downvote Image" class="w-9 h-13 hover:animate-bounce">
              <span class="ml-2">{{ideaItem.downvotes}}</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
