<section class="m-4">
  <li class="flex items-center flex-wrap content-between w-full px-10 py-5 border-b border-gray-200 rounded-t-lg mb-5">
    <div class="overflow-x-auto w-full">
      <table class="min-w-full divide-y divide-gray-200">
        <tbody class="bg-white divide-y divide-gray-200">
          <tr>
            <td class="px-6 py-4 whitespace-nowrap" colspan="2">
              <div class="text-lg font-bold text-teal-600">&#64;{{idea.UserUserName}}</div>
            </td>
          </tr>
          <tr>
            <img src="idea.png" class="h-10 mt-2">
            <td class="px-6 py-4 whitespace-nowrap">
              <markdown [data]="idea.title" class="text-sm font-medium text-gray-900"></markdown>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <markdown [data]="idea.description" class="text-sm text-gray-500"></markdown>
            </td>
            <td class="px-6 py-4 whitespace-nowrap"></td>
          </tr>
          <tr>
            <td class="px-6 py-6 whitespace-nowrap" colspan="2">
              <div class="flex space-x-2 justify-center">
                <button (click)="handleUpvote(id)" type="button" class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                  <img src="upvote.png" alt="Upvote Image" class="w-9 h-13 hover:animate-bounce">
                  {{idea.upvotes}}
                </button>
                <button (click)="handleDownvote(id)" type="button" class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                  <img src="downvote.png" alt="Downvote Image" class="w-9 h-13 hover:animate-bounce">
                  {{idea.downvotes}}
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</section>  
<section>
  <form [formGroup]="newCommentForm" (ngSubmit)="handleCommentSubmit()" class="space-y-4">
      <div class="flex flex-col sm:flex-row sm:items-center w-full">
        <input type="text" formControlName="content" placeholder="Insert a new comment here" class="flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500">
      </div>
      <div class="flex justify-end w-full">
        <button type="submit" class="p-2 w-full sm:w-auto mt-2 sm:mt-0 text-white bg-blue-900 hover:bg-blue-300 focus:ring-4 focus:ring-teal-500 font-medium rounded-lg text-sm focus:outline-none mb-5">Share your comment</button>
      </div>
      @if(createCommentSubmitted && newCommentForm && newCommentForm.controls.content.errors && newCommentForm.controls.content.errors['required']){
        <p class="form-error w-full">Comment cannot be empty!</p>
      }
    </form>
    <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg mb-10 overflow-y-auto max-h-64">
      @for(item of comments; track item.id){
        <app-comment [comment]="item"/>
      } @empty {
        <li class="flex items-center flex-wrap content-between w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">No Comments to show.</li>
      }
    </ul>
</section>
  