/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Toaster*/
@import 'ngx-toastr/toastr';

.toast-success {
  @apply bg-teal-500;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #06007c;
}

a.link {
  @apply underline text-teal-600 hover:text-teal-700 visited:text-teal-800 
}

.form-error{
  @apply text-red-600;
}

.toast-top-right {
  top: 130px;
  right: 30px;
  margin-top: 100px;
}

@media (max-width: 575.98px) {
  .toast-top-right {
    top: unset;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-container.toast-top-right .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Card*/
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Markdown*/
.markdown-title {
  width: 500px; 
  overflow-x: auto;
  white-space: nowrap;
}

.markdown-description {
  width: 500px; 
  height: auto;
  overflow-x: auto;
  white-space: pre-wrap;
}

/*Scroll to top*/
.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
  opacity: 0;
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

/*Bee*/
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

#flybee {
  position: absolute;
  top: 50%; /* Posizionamento verticale centrato */
  transform: translateY(-50%); /* Per centrare l'immagine verticalmente */
  width: 100px; /* Larghezza dell'immagine */
  height: auto; /* Altezza proporzionale */
  animation: moveFromRightToLeft 3s linear forwards; /* Animazione */
}

@keyframes moveFromRightToLeft {
  0% {
    right: -100px; /* Posizione iniziale fuori dallo schermo a destra */
  }
  100% {
    right: 100vw; /* Posizione finale fuori dallo schermo a sinistra */
  }
}

  
