<li class="flex items-center flex-wrap content-between w-full px-10 py-5 border-b border-gray-200 rounded-t-lg mb-5">
  <div class="overflow-x-auto w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <tbody class="bg-white divide-y divide-gray-200">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div>
              <markdown [data]="ideaItem.title" class="text-sm font-medium text-gray-900"></markdown>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-right">
            <div class="inline-flex rounded-md shadow-sm text-xs">
              <button (click)="handleDelete()" type="button" class="px-4 py-1 font-medium text-gray-900 bg-transparent border border-gray-900 hover:bg-red-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-red-900 focus:text-white">
                Delete
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div>
              <markdown [data]="ideaItem.description" class="text-sm text-gray-500"></markdown>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap"></td>
        </tr>
        <tr>
          <td class="px-6 py-6 whitespace-nowrap" colspan="2">
            <div class="flex space-x-2 justify-center">
              <button (click)="handleUpvote()" type="button" class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                <img src="upvote.jpg" alt="Upvote Image" class="w-6 h-7">
                {{ideaItem.upvotes}}
              </button>
              <button (click)="handleDownvote()" type="button" class="flex items-center p-2 rounded-lg hover:bg-gray-100">
                <img src="downvote.jpg" alt="Downvote Image" class="w-6 h-7">
                {{ideaItem.downvotes}}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
