<li class="flex items-center flex-wrap content-between w-full max-w-3xl mx-auto px-10 py-5 border-b border-gray-200 rounded-t-lg card">
  <div class="overflow-x-auto w-full">
    <img *ngIf="showImage" src="beenobg.png" id="flybee" class="floating">
    <table class="min-w-full divide-y divide-gray-200 bg-image">
      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap" routerLink="/idea-details/${{ideaItem.id}}">
            <div>
              <markdown [data]="ideaItem.title" class="markdown-title font-medium text-gray-900 overflow-wrap break-word"></markdown>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-right">
            <div class="inline-flex rounded-md shadow-sm text-xs">
              <button (click)="handleDelete()" type="button" class="px-4 py-1 font-medium text-gray-900 bg-transparent border border-gray-900 hover:bg-red-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-red-900 focus:text-white">
                Delete
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap" routerLink="/idea-details/${{ideaItem.id}}">
            <div>
              <markdown [data]="ideaItem.description" class="markdown-description text-gray-500 overflow-wrap break-word word-break break-all"></markdown>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap"></td>
        </tr>
        <tr>
          <td class="px-6 py-6 whitespace-nowrap" colspan="2">
            <div class="flex space-x-2 justify-center">
              <button (click)="handleUpvote()" type="button" class="flex items-center p-2 rounded-lg">
                <img src="upvote.png" alt="Upvote Image" class="w-9 h-13 hover:animate-bounce">
                {{ideaItem.upvotes}}
              </button>
              <button (click)="handleDownvote()" type="button" class="flex items-center p-2 rounded-lg">
                <img src="downvote.png" alt="Downvote Image" class="w-9 h-13 hover:animate-bounce">
                {{ideaItem.downvotes}}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>


