<section class="m-4">
  <div class="flex items-center justify-around">
    <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl mb-2">
    My Ideas
    </h1>
    <p>
      <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank" class="text-blue-900 underline">Markdown Cheatsheet</a>
    </p>
  </div>
  
  <div class="flex flex-col items-center sm:flex-row sm:justify-center sm:items-start flex-wrap content-between">
    <form [formGroup]="newIdeaForm" (ngSubmit)="handleIdeaSubmit()" class="space-y-4 w-full sm:w-auto">
      <div class="flex flex-col sm:flex-row sm:items-center w-full">
        <input type="text" formControlName="title" placeholder="Insert a new idea here" class="flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word resize-none">
        <markdown [data]="newIdeaForm.controls.title.value" class="hover:animate-pulse markdown-title p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word resize-none">Visualizing markdown preview here...
        </markdown>
      </div>
      <div class="flex flex-col sm:flex-row sm:items-center w-full">
        <textarea type="text" formControlName="description" placeholder="Insert description" class="flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word"></textarea>
        <markdown [data]="newIdeaForm.controls.description.value" class="hover:animate-pulse markdown-description flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word word-break:break-all">Visualizing markdown preview here...
        </markdown>
      </div>
    <div class="flex justify-end w-full">
      <button type="submit" class="p-2 w-full sm:w-auto mt-2 sm:mt-0 text-white bg-blue-900 hover:bg-blue-300 focus:ring-4 focus:ring-teal-500 font-medium rounded-lg text-sm focus:outline-none mb-5">Share your Idea</button>
    </div>
    @if(createIdeaSubmitted && newIdeaForm && newIdeaForm.controls.title.errors && newIdeaForm.controls.title.errors['required'] && newIdeaForm.controls.description.errors && newIdeaForm.controls.description.errors['required']){
      <p class="form-error w-full">Idea item cannot be empty!</p>
    }
    </form>
  </div>
  
</section>

<section>
  <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 border-4 rounded-lg">
    @for(item of ideas; track item.id){
      <app-idea-item [ideaItem]="item" (delete)="handleDelete($event)"/>
    } @empty {
      <li class="flex items-center flex-wrap content-between w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">No idea items to show.</li>
    }
  </ul>
</section>

<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <img src="freccia.png" class="h-20" alt="to-top-icon" />
</div>  
