<section class="m-4">
  <div class="flex items-center justify-between">
    <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl mb-2">
    My Ideas
    </h1>
    <button (click)="openModal()" class="p-2 text-white bg-blue-200 hover:bg-blue-300 focus:ring-4 focus:ring-teal-500 rounded-full w-10 h-10 focus:outline-none mb-5">i</button>
  </div>
  
  <form [formGroup]="newIdeaForm" (ngSubmit)="handleIdeaSubmit()" class="space-y-4">
    <div class="flex flex-col sm:flex-row sm:items-center w-full">
      <input type="text" formControlName="title" placeholder="Insert a new idea here" class="flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word resize-none">
      <markdown [data]="newIdeaForm.controls.title.value" class="hover:animate-pulse markdown-title p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word resize-none">Visualizing markdown preview here...
      </markdown>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center w-full">
      <textarea type="text" formControlName="description" placeholder="Insert description" class="flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word"></textarea>
      <markdown [data]="newIdeaForm.controls.description.value" class="hover:animate-pulse markdown-description flex-grow p-2 mb-2 sm:mb-0 sm:mr-2 w-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 overflow-wrap break-word">Visualizing markdown preview here...
      </markdown>
    </div>
    <div class="flex justify-end w-full">
      <button type="submit" class="p-2 w-full sm:w-auto mt-2 sm:mt-0 text-white bg-blue-900 hover:bg-blue-300 focus:ring-4 focus:ring-teal-500 font-medium rounded-lg text-sm focus:outline-none mb-5">Share your Idea</button>
    </div>
    @if(createIdeaSubmitted && newIdeaForm && newIdeaForm.controls.title.errors && newIdeaForm.controls.title.errors['required'] && newIdeaForm.controls.description.errors && newIdeaForm.controls.description.errors['required']){
      <p class="form-error w-full">Idea item cannot be empty!</p>
    }
  </form>
</section>

<section class="flex-grow-0 w-auto">
  <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 border-4 rounded-lg  mb-10">
    @for(item of ideas; track item.id){
      <app-idea-item [ideaItem]="item" (delete)="handleDelete($event)"/>
    } @empty {
      <li class="flex items-center flex-wrap content-between w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">No idea items to show.</li>
    }
  </ul>
</section>

<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
    <h2 class="text-xl font-bold mb-4">Markdown</h2>
    <p class="mb-4">Markdown is a lightweight markup language with plain-text formatting syntax. It is designed to be easy to read and write, and it is often used to format README files, for writing messages in online discussion forums, and to create rich text using a plain text editor. Markdown can be converted into many output formats, including HTML, PDF, and more..</p>
    <p>Here's a comprehensive Markdown cheatsheet:</p>
    <p>
      <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank" class="text-blue-500 underline">Markdown Cheatsheet</a>
    </p>
    <div class="flex justify-end">
      <button (click)="closeModal()" class="px-4 py-2 bg-blue-900 text-white rounded-lg hover:bg-blue-300">Close</button>
    </div>
  </div>
</div>
