@if(! this.authService.isUserAuthenticated()){
    <div class="max-w-xl mx-auto p-6 bg-white rounded-lg shadow-lg border border-gray-200 mt-10 text-center">
        <h2 class="text-2xl font-bold text-gray-800">Welcome to Hivemind!</h2>
        <p routerLink="/login" routerLinkActive="bg-teal-700" class="mt-4 text-gray-600">
            Log in to Hivemind to discover and appreciate mesmerizing ideas. Don't forget to share your own!
        </p>
    </div>
    <img src="hive.jpeg" class="w-64 h-64 mx-auto mt-6 rounded-lg shadow-lg mb-4">
} @else {
    <div class="grid min-h-[10px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
        <div class="flex w-full divide-x divide-gray-800 row">
            <button (click)="fetchHomepage(0, currentPage=1)"
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:shadow-gray-900 active:opacity-[0.85] active:shadow-none block w-full rounded-r-none border-r-0"
            type="button">
            Controversial
            </button>
            <button (click)="fetchHomepage(1, currentPage=1)"
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:shadow-gray-900 active:opacity-[0.85] active:shadow-none block w-full rounded-r-none border-r-0 rounded-l-none"
            type="button">
            Mainstream
            </button>
            <button (click)="fetchHomepage(2, currentPage=1)"
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:shadow-gray-900 active:opacity-[0.85] active:shadow-none block w-full rounded-l-none"
            type="button">
            Unpopular
            </button>
        </div>
    </div>
    
    <ng-container *ngFor="let item of homepageData">
        <app-all-idea-items [ideaItem]="item" (upvote)="handleUpvote($event!)" (downvote)="handleDownvote($event!)"/>
    </ng-container>
   
    <div class="flex justify-between mt-4">
    <button (click)="prevPage()"
        class="px-4 py-2 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
        type="button">
        Previous Page
    </button>
    <span class="font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle">{{currentPage}}</span>
    <button (click)="nextPage()"
        class="px-4 py-2 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
        type="button">
        Next Page
    </button>
    </div>

    <div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
        <img src="freccia.png" class="h-20" alt="to-top-icon" />
    </div>      
}

