<nav class="bg-[#e1750f] p-8">
  <div class="mx-auto flex justify-between flex-wrap">  
    <button (click)="toggle()" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-1 w-7 h-7 justify-center text-sm text-white rounded-lg md:hidden hover:bg-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-900 mx-2" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div>
      <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse flex-grow justify-end">
        <img src="hive.jpeg" class="w-20 h-20 rounded-lg" alt="Hivemind logo">
        <span class="self-center text-2xl md:text-3xl font-bold whitespace-nowrap text-white hover:text-blue-300 transition-colors duration-300">Hivemind</span>
      </a>  
    </div>      
    <div class="{{isOpen ? 'block' : 'hidden'}} w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-semibold flex flex-col p-4 md:p-5 mt-4 rounded-lg bg-blue-900 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-[#e1750f]">
        <li>
          <a (click)="handleNavigationClick()" routerLink="/home" routerLinkActive="text-[#011d82]" class="block py-2 px-3 text-white rounded md:bg-transparent hover:bg-white hover:text-blue-300 md:hover:bg-transparent md:border-0 md:p-0">Home</a>
        </li>
        <li>
          <a (click)="handleNavigationClick()" routerLink="ideas" routerLinkActive="text-[#011d82]" class="block py-2 px-3 text-white rounded md:bg-transparent hover:bg-white hover:text-blue-300 md:hover:bg-transparent md:border-0 md:p-0">My Ideas</a>
        </li>
        @if(!this.authService.isUserAuthenticated()){
          <li>
            <a (click)="handleNavigationClick()" routerLink="/login" routerLinkActive="text-[#011d82]" class="block py-2 px-3 text-white rounded md:bg-transparent hover:bg-white hover:text-blue-300 md:hover:bg-transparent md:border-0 md:p-0">Login</a>
          </li>
          <li>
            <a (click)="handleNavigationClick()" routerLink="/signup" routerLinkActive="text-[#011d82]" class="block py-2 px-3 text-white rounded md:bg-transparent hover:bg-white hover:text-blue-300 md:hover:bg-transparent md:border-0 md:p-0">Sign up</a>
          </li>
        }@else{
          <li>
            <a (click)="handleNavigationClick()" routerLink="/logout" routerLinkActive="text-[#011d82]" class="block py-2 px-3 text-white rounded md:bg-transparent hover:bg-white hover:text-blue-300 md:hover:bg-transparent md:border-0 md:p-0">Welcome, {{this.authService.user()}} &#8617;</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
